body {
    color: greenyellow;
    background-color: black;
    text-transform: initial
}

a {

    color: green;
}

b {
color:red;


}

img {

    width: 550px;
    height: 350px;
}